/*
============================================
; Author: Ethan Townsend
; Date:   8/12/2019
; Description: web-425
;===========================================
*/ 

#main {
    text-align: center;
}
.homepage-card {
    margin: 0px auto;
    height: 100%;
    width: 80%;
    margin-top: 35px;
}

.parent {
    width: 80%;
    height: 100%;
    margin: auto;
}

mat-card {
    margin: 20px;
    border: 2px solid black; 
}

h1 {
    padding: 3px;
    background-color: #673AB7; 
    color: white;
    border-radius: 3px;
}

h2 {
    margin-bottom: 5px;
}

p {
    margin: 25px;
}